{% extends 'gestion_recepcion/base.html' %}
{% load static %}

{% block title %}
.: Pago de Servicios :.
{% endblock title %}

{% block styles %}

{% endblock%}

{% block content %}
<div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <label>Buscar una consulta</label>
            <div class="input-group">
                <input list="medSelect" class="form-control" id="system-search" name="q" placeholder="">
            </div>
            <div class="mb-3 pre-scrollable">
                <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">CURP paciente</th>
                            <th scope="col">Apellidos paciente</th>
                            <th scope="col">Fecha de cita</th>
                            <th scope="col">Precio consulta</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="medicamentosContainer">
                        {% for consulta in consultas %}
                        <tr id="{{consulta.id}}" class="medicamentosStock">
                            <th scope="row"><input class="form-control bg-light border-0" id="sku" name="{{consulta.id}}" type="text" value="{{consulta.id}}" readonly></th>     
                            <td>{{consulta.expediente_id.paciente_curp.idUsuario.curp}}</td>
                            <td>{{consulta.expediente_id.paciente_curp.idUsuario.apellidoPaterno}} {{consulta.expediente_id.paciente_curp.idUsuario.apellidoMaterno}}</td>
                            <td>{{consulta.cita_id.fecha}}</td>
                            <td>$ {{consulta.costo}}</td>
                            <td><button class="btn btn-primary" id="btn{{consulta.id}}" onclick='agregarATicket("{{consulta.id}}")'' type="button">Agregar a ticket</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">CURP paciente</th>
                                <th scope="col">Apellidos paciente</th>
                                <th scope="col">Fecha de cita</th>
                                <th scope="col">Precio consulta</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="ticketContainer">
                            
                        </tbody>
                    </table>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success btn ml-3" type="submit">Generar Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'gestion_recepcion/scripts/pago.js'%}"></script>
{% endblock %}