{% extends 'gestion_farmacia/base.html' %}
{% load static %}
{% block title %}
.: Inventario :.
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'gestion_medicos/styles/patients.css' %}">
{% endblock%}

{% block content %}
<div class="container">
    <div class="row flex-column">
        <p class="w-100 display-4 text-center text-primary mt-5">Inventario</p>
        <div class="w-100">
            <form method="get" action="{% url 'searchMedicamentoEncargado'%}">
                {% csrf_token %}
                <div class="input-group w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Medicamento</span>
                    </div>
                    <input type="text" class="form-control mr-5" name="nombre">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                    <a href="{% url 'inventario' %}" class="btn ml-2 btn-primary">Mostrar todos</a>
                </div>
            </form>

            <ul class="list-group mt-4">
                <li class="list-group-item active">
                    <div class="d-flex">
                        <div class="col-2 d-flex align-items-center">
                            <span>ID Medicamentos</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>Nombre del medicamento</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>Precio</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>Unidades</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>Caducidad</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>Acciones</span>
                        </div>
                    </div>
                </li>

                {% for medicamento in medicamentos %}

                <li class="list-group-item">
                    <div class="d-flex">
                        <div class="col-2 d-flex align-items-center">
                            <span>{{medicamento.sku}}</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>{{medicamento.nombre}}</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>$ {{medicamento.precio}}</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>{{medicamento.cantidad}} unidades</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>{{medicamento.fecha_caducidad}}</span>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'infmedicamento' medicamento.pk %}"><button
                                    class="btn btn-secondary d-flex align-items-center" type="button">Ver
                                    medicamento</button></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>

<div class="mb-3"></div>
<div class container></div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="col-3">
        <a href="{% url 'agregarmedicamento'%}"><button class="btn btn-primary d-flex align-items-center"
                type="button">Agregar medicamento</button></a>
    </div>

    {% endblock %}

    {% block scripts %}
    <script src="{% static 'gestion_medicos/scripts/patients.js'%}"></script>
    {% endblock %}