{% extends 'gestion_farmacia/base.html' %}
{% load static %}
{% block title %}
.: Surtir Publico :.
{% endblock title %}
{% block styles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <p class="display-4 text-primary text-center my-4">Surtir Receta Publico</p>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Agregar medicamento a la lista</label>
        <div class="input-group">
            <form class="row g-2">
                <div class="col-sm-9">
                    <input list="medSelect" name="medInput" class="w-100" id="medInput">
                    <datalist id="medSelect">
                        {% for medicamento in medicamentos %}
                        <option value="{{medicamento.nombre}} {{medicamento.presentacion}}">
                            {% endfor %}
                    </datalist>
                </div>
                <button class="btn btn-primary" type="button">Agregar a la Lista</button>
            </form>
        </div>
    </div>
    <label for="exampleFormControlTextarea1" class="form-label">Lista de Medicamentos</label>
    <div class="mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sustancia activa</th>
                    <th scope="col">Presentacion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="medicamentosContainer">
                {% for medicamento in medicamentos %}
                <tr id="{{medicamento.sku}}" class="medicamentosStock">
                    <th scope="row"><input class="form-control bg-light border-0" id="sku" name="sku{{medicamento.sku}}" type="text" value="{{medicamento.sku}}" readonly></th>
                    <td><input class="form-control bg-light border-0" id="nombre" name="nombre{{medicamento.sku}}" type="text" value="{{medicamento.nombre}}" readonly></td>
                    <td><input class="form-control bg-light border-0" id="sustancia" name="sustancia{{medicamento.sku}}" type="text" value="{{medicamento.sustancia_activa}}" readonly></td>
                    <td><input class="form-control bg-light border-0" id="presentacion" name="presentacion{{medicamento.sku}}" type="text" value="{{medicamento.presentacion}}" readonly></td>
                    <td>
                        <div class="input-group">
                            <input type="number" id="quantity" id="cantidad" name="cantidad{{medicamento.sku}}" min = "1" max="{{medicamento.cantidad}}" class="form-control input-number" value="1">
                        </div>
                    </td>
                    <td class="d-flex">$ <input class="form-control bg-light border-0" name="precio{{medicamento.sku}}" type="text" value="{{medicamento.precio}}" readonly></td>
                    <td><button class="btn btn-primary" id="btn{{medicamento.sku}}" onclick='agregarATicket("{{medicamento.sku}}")'' type="button">Agregar a ticket</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        


    <!-- Ticket-->
    <form method="POST">
        {% csrf_token %}r
        <label for="exampleFormControlTextarea1" class="form-label">Ticket de compra</label>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Sustancia activa</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody id="ticketContainer">
                    
                </tbody>
            </table>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success btn ml-3" type="submit">Generar Ticket</button>
        </div>
    </form>
</div>

            {% endblock %}

            {% block scripts %}
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="{% static 'gestion_farmacia/scripts/surtircedae.js'%}"></script>
            {% endblock %}s