{% extends 'gestion_farmacia/base.html' %}
{% load static %}
{% block title %}
.: Ticket :.        
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'gestion_farmacia/styles/ticket.css' %}">
{% endblock styles %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
<div class="">
    <img src="{% static 'gestion_farmacia/img/logito.png' %}"
        alt="Logotipo" style="width: 200px;">
        <div class="mb-3"></div>
    <p class="centrado">TICKET DE VENTA<br>CEDAE<br>{{ticket.fecha_expedicion}}</p>
    <div class="row d-flex justify-content-between">
        <div class="col-xs-6">
            <label>Producto</label>
        </div>
        <div class="col-xs-6">
            <label>Precio</label>
        </div>
        
    </div>
    <div class="row d-flex justify-content-between">
        
        <div class="col-xs-6">
            {% for med in listaMed %}
                {% if med != " " %}
                <p>{{med}}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-xs-6">
            {% for precio in listaPrecios %}
                {% if precio != " " %}
                <p>${{precio}}</p>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>

    <div class="d-flex justify-content-between">
        <label>TOTAL</label>
        <label>$ {{ticket.costo_total}}</label>
    </div>
   
    <p class="centrado">¡GRACIAS POR SU COMPRA!<br>www.cedae.com</p>
</div>
</div>
</div>

{% endblock content %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'gestion_farmacia/scripts/infomedicin.js' %}"></script>
{% endblock scripts %}