{% extends 'gestion_pacientes/base.html' %}
{% load static %}

{% block title %}
.: Modificar Contraseña :.
{% endblock title %}

{% block styles %}

{% endblock styles %}


{% block content %}
<div class="container">
    <p class="display-4 text-center text-primary mt-5">Modificar Contraseña</p>
    <div class="mb-5"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6 main-section">
            <form class="col-12" method="POST" id="iniciarSesionForm" name="iniciarSesionForm">
              <label for="inputPassword5" class="form-label">Para continuar ingrese su contraseña actual</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div class="mb-3"></div>
              <label for="inputPassword5" class="form-label">Ingresa nuevamente su contraseña</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3 offset-md-4">
                  <a href="{% url 'newPassword'  request.session.id_paciente %}">
                    <button type="button" onclick="" id="iniciarSesionbtn" class="btn btn-primary">Siguiente</button>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}

{% endblock scripts %}